/********************/
/*Universal for site*/
/********************/

/*change font for site*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	background-color: white;
}
/*Set height for site*/
body, html {
	height: 100%;
}

/********/
/*Navbar*/
/********/

/*Change brand size*/
.nav-icon {
	max-width: 10%;
}

/*Spacing for nav-links*/
.nav-item {
	margin-left: 3rem;
}