/************************************************************************/
/*Universal for site*/
/************************************************************************/

/*Fonts for site*/

/*

    font-family: 'Raleway', sans-serif;

    font-family: 'Julius Sans One', sans-serif;

    font-family: 'Lora', serif;

    font-family: 'Poiret One', cursive;

*/

/*change font for site*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	background-color: white;
}

/*Change font of headings*/
h3 {
	font-family: 'Julius Sans One', sans-serif;
}

.poiret {
	font-family: 'Poiret One', cursive;
}

.lora {
	font-family: 'Lora', serif;
}

hr {
	display: block;
	margin: 0.5em auto;
	border: 1px inset;
}

/*Set height for site*/
body, html {
	height: 100%;
}

/************************************************************************/
/*Navbar*/
/************************************************************************/

/*Make transparent on Home Page*/
.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

/*Make White and Opaque on All Other Pages*/
.site-nav {
	background: rgba(255,255,255,.75);
}

/*Color First Letter*/
.first-letter {
	color: blue;
	font-weight: bold;
}

/*Change brand size*/
.nav-icon {
	max-width: 10%;
}

.position-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

li > a:hover {
	text-decoration: none;
}

/*For Large Screens*/

@media only screen and (min-width: 992px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 3rem;
	}

	.space {
		margin-right: 3rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 2.5em;
	}

	.link-trait {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*For Medium Screens*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 2rem;
	}

	.space {
		margin-right: 2rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 1.75em;
	}

	.link-trait {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*For Small Screens*/

@media only screen and (max-width: 768px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 1rem;
	}

	.space {
		margin-right: 1rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 1em;
	}

	.link-trait {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/************************************************************************/
/*Footer*/
/************************************************************************/

.bg {
	background: rgba(0,0,0,.001);
}

.foot-text {
	padding-left: 12%;
	position: relative;
}

/************************************************************************/
/*Home Page*/
/************************************************************************/

/*Image Carousel*/

/*For Large Screens*/

@media only screen and (min-width: 992px) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		width: 65%;
		margin: 0 auto;
		display: inline-block;
		float: right;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 30%;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 35%;
		margin: 0 auto;
		display: inline-block;
		float: left;
	}
}

/*For Medium Screens*/

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		width: 50%;
		margin: 0 auto;
		display: inline-block;
		float: right;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 20%;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 50%;
		margin: 0 auto;
		display: inline-block;
		float: left;
	}
}

/*For Small Screens*/

@media only screen and (max-width: 768px) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 15%;
		padding-left: .5rem;
		padding-right: .5rem;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
}

.home-link:hover {
	text-decoration: none;
}

/************************************************************************/
/*Services Page*/
/************************************************************************/

.service-title {
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
}

.service-image {
	max-width: 100%;
	height: auto;
	width: auto;
}

.service-contact-link {
	 color: blue;
	 text-decoration: none;
	 font-weight: bold;
}

/************************************************************************/
/*About Page*/
/************************************************************************/

.move-down {
	margin-top: 10rem;
	border-bottom: blue;
}

.about-image {
	max-width: 100%;
	height: auto;
	width: auto;
}

/************************************************************************/
/*Portfolio Page*/
/************************************************************************/

.featured-work {
	background-color: white;
	padding-bottom: 2em;
}

/*Csquare Custom Cupcakes*/

.overlay-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .8;
	overflow: hidden;
	width: 100%;
	height: 0;
	transition: .5s ease;
}

.cupcakes:hover .overlay-bottom {
	height: 100%;
}

.text-bottom {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Korigan Payne*/

.overlay-left {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .8;
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.korigan:hover .overlay-left {
	width: 100%;
}

.text-left {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Design By Korigan*/

.overlay-left-design-by-korigan {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: .8;
	overflow: visible;
	width: 0;
	height: 100%;
	transition: .5s ease;
}

.design-by-korigan:hover .overlay-left-design-by-korigan {
	width: 100%;
}

.text-left-design-by-korigan {
	color: white;
	font-size: 15px;
	position: absolute;
	overflow: hidden;
	width: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/*Hover Effects*/

.cupcakes-effects {
	padding: 2em;
	display: block;
	border: .25em solid whitesmoke;
	background-image: url(../images/csquare.jpg);
	background-size: cover;
	height: 25rem;
}

.korigan-effects {
	padding: 2em;
	border: 1em solid white;
	background-image: url(../images/korigan.jpg);
	background-size: cover;
	height: 25rem;
}

.design-by-korigan-effects {
	padding: 3em;
	margin-top: 3em;
	display: block;
	background-image: url(../images/wp.jpg);
	background-size: cover;
	height: 50rem;
}

/************************************************************************/
/*Contact Page*/
/************************************************************************/

/*Page Content*/

.contact-content {
	position: relative;
	overflow: hidden;
	height: 80vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.contact-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.contact-background:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: -1;
	background-position: center top;
	background-repeat: no-repeat;
	overflow: hidden;
}

/*xs to lg*/
@media(min-width: 769px){
	.contact-content {
		background-image: url(../images/contact-background.jpg);
	}
}

/*xs to 0*/
@media(max-width: 768px) {
	.contact-content .contact-background:before {
		background-image: url(../images/contact-background.jpg);
	}
}