/********************/
/*Universal for site*/
/********************/

/****************/
/*Fonts for site*/
/****************/

/*

    font-family: 'Raleway', sans-serif;

    font-family: 'Julius Sans One', sans-serif;

    font-family: 'Lora', serif;

    font-family: 'Poiret One', cursive;

*/

/*change font for site*/
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
	text-align: justify;
	background-color: white;
}

/*Change font of headings*/
h3 {
	font-family: 'Julius Sans One', sans-serif;
}

.poiret {
	font-family: 'Poiret One', cursive;
}

.lora {
	font-family: 'Lora', serif;
}

hr {
	display: block;
	margin: 0.5em auto;
	border: 1px inset;
}

/*Set height for site*/
body, html {
	height: 100%;
}

/********/
/*Navbar*/
/********/

/*Make transparent on Home Page*/
.navbar-default {
	background-color:transparent !important;
	border-color:transparent;
	background-image:none;
	box-shadow:none;
}

/*Make White and Opaque on All Other Pages*/
.site-nav {
	background: rgba(255,255,255,.75);
}

/*Color First Letter*/
.first-letter {
	color: blue;
	font-weight: bold;
}

/*Change brand size*/
.nav-icon {
	max-width: 10%;
}

.position-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}

li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

li > a:hover {
	text-decoration: none;
}

/*For Large Screens*/

@media only screen and (min-width: 992px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 3rem;
	}

	.space {
		margin-right: 3rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 2.5em;
	}

	.link-trait {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*For Medium Screens*/

@media only screen and (min-width: 768px) and (max-width: 992px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 2rem;
	}

	.space {
		margin-right: 2rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 1.75em;
	}

	.link-trait {
		color: white;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/*For Small Screens*/

@media only screen and (max-width: 768px) {
	/*Spacing for nav-links*/
	.nav-item {
		margin-left: 1rem;
	}

	.space {
		margin-right: 1rem;
	}

	.brand-text {
		font-family: 'Julius Sans One', sans-serif;
		font-size: 1em;
	}

	.link-trait {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
}

/********/
/*Footer*/
/********/

.bg {
	background: rgba(0,0,0,.001);
}

.foot-text {
	padding-left: 12%;
	position: relative;
}

/***********/
/*Home Page*/
/***********/

/*Image Carousel*/

/*For Large Screens*/

@media only screen and (min-width: 992px) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		width: 65%;
		margin: 0 auto;
		display: inline-block;
		float: right;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 30%;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 35%;
		margin: 0 auto;
		display: inline-block;
		float: left;
	}
}

/*For Medium Screens*/

@media only screen and (min-width: 768px) and (max-width: 992px) and (orientation: landscape) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		width: 50%;
		margin: 0 auto;
		display: inline-block;
		float: right;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 20%;
		padding-left: 1rem;
		padding-right: 1rem;
		width: 50%;
		margin: 0 auto;
		display: inline-block;
		float: left;
	}
}

/*For Small Screens*/

@media only screen and (max-width: 768px) {
	#wrapper {
		width: 100%;
	}

	.home-pic {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.home-images {
		height: 100vh;
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
	}

	.home-text {
		padding-top: 15%;
		padding-left: .5rem;
		padding-right: .5rem;
		width: 100%;
		margin: 0 auto;
		display: block;
	}
}

.home-link:hover {
	text-decoration: none;
}

/***************/
/*Services Page*/
/***************/

.page-top {
	margin-top: 10rem;
}

.service-title {
	text-transform: uppercase;
	font-weight: bold;
}

.service-image {
	max-width: 100%;
	height: auto;
	width: auto;
}

.service-contact-link {
	 color: black;
	 text-decoration: none;
	 font-weight: bold;
	 text-transform: uppercase;
}

/************/
/*About Page*/
/************/

.move-down {
	margin-top: 10rem;
	border-bottom: blue;
}

.about-image {
	max-width: 100%;
	height: auto;
	width: auto;
}
